@{
    Layout = "_Layout";
}

<!-- Burada yazdığımız değer ile aşşağıya yazıcağımız değerlerin hepsi Shared içerisindeki Layout içerisindeki @RenderBody() ile bağlanmış olur. -->

<h1>Products/Index</h1>