    <div class="col">
        <div class="card">
            <div class="card-body">
                <img src="~/img/1.jpg" alt="" class="card-img-top">
                <h5 class="card-title">Lorem, ipsum.</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, quia.</p>
                <a href="#" class="card-link">İncele</a>
            </div>
        </div>
    </div>
