@model Course

    <div class="card">
        <div class="card-body">
            <img src="~/img/@Model.Image" alt="" class="card-img-top">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, quia.</p>
            <a href="#" class="btn btn-outline-danger">İncele</a>
        </div>
    </div>
